// 5 Star Rating
// Borrowed from: https://codepen.io/jamesbarnett/pen/vlpkh?editors=1100
.rating-input {
  border: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  > input {
    display: none;
  }

  > label {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color: $star-color;
  }

  > label:after {
    @extend %empty-star;
  }

  // Selected star color
  > input:checked ~ label {
    @extend %full-star;
  }

  // On hover color all stars grey by default
  &:hover > input + label {
    @extend %empty-star;
  }

  // Hover star color
  &:hover > input + label:hover,
  &:hover > input + label:hover ~ input + label {
    @extend %full-star;
  }
}
