{% if enable_ratings_plugin %}
  {% if ratings|length %}

    <div class="rating-cards">
      {% for rating in ratings|array_reverse %}
        {% include 'partials/ratings-list-item.html.twig' %}
      {% endfor %}
    </div>

  {% endif %}
{% endif %}
